    header{
        background-color: bisque;
        padding:1vh;
        display:flex;}
    .logoairnbn img{
        justify-items:left;
        display:contents;}
    nav ul{
        list-style-type:none;
        margin: 0;
        padding: 4;
        display: flex;}
    nav ul li{
        color: rgb(20, 19, 19);
        font-weight: bold;}
    button{
        display:flex;
        justify-content:right;}
    .b1{margin-right: 10%;}
    .b2{margin-right: 2vh;}
    .b3{margin-right: 10%;}
    .b4{margin-right: 10%;}
    .b5{margin-right: 10%;}
    .lupa{
        border-radius: 50%;
        margin-right: 80%;
        padding:0vh;}
   .lupa:hover{background-color: rgb(237, 189, 93);}
    
    nav ul :hover{
        text-decoration:wavy;
        background-color:rgb(84, 207, 238);
        padding:1vh;
        color:black;}
    .enviarcorreo{
        display: flex;
        justify-content:space-around;
        font-size: small;
        margin-left:30vh;
        color: black;
    }
        
    
        
    

    
 
